**/__pycache__/
env

**/*.mp3
**/*.mp4

**/clips_out/

**/.DS_Store

/out
/upload

**/node_modules

.env
upload_config.json
.meta_tokens.json
.tiktok_tokens.json
.youtube_tokens.json
server/integrations/instagram/instagrapi_session.json
server/integrations/instagram/instagrapi_state.json
yt_client_secret.json
/server/tokens

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
terraform.tfstate.d/
*.tfvars
*.tfvars.json
crash.log
*.tfvars
*.pem
